<!DOCTYPE html>
<html>
<head>
	<title>Restaurants</title>
</head>
<body>
	<h1>Restaurants</h1>

	<form action="/restaurant" method="post">
		<input type="text" name="nom">Nom<br>
		<input type="text" name="categoria">Categoria<br>
		<input type="text" name="direccio">Direccio<br>
		<input type="text" name="poblacio">Poblacio<br>
		<input type="submit" name="enviar">
	</form>
</body>
</html>